body {
    background: url(home.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text1 {
    font-size: 800%;
    font-weight: bold;
    color: #D9D9D9;
    font-family: 'Jomhuria';
    letter-spacing: .2rem;
}

.header-text2 {
    font-size: 800%;
    font-weight: bold;
    color: #000000;
    font-family: 'Jomhuria';
    letter-spacing: .2rem;
}
.text2 {
    font-size: 160%;
    color: #ffffff;
}
.s{
    position: fixed; top: 61%; left: 59%;
    font-size: 200%;
}
a {
    color: #ffffff;
    padding: .7rem;
}
.text{
    position: fixed; top: 30%; left: 60%;
}