<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/hm.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    </head>
    <body>
        <div class="text">
            <span class="text2">Сервис для бронирования</span><br>
            <span class="text2">переговорных комнат</span><br>
            <span class="header-text1">OFFICE </span><span class="header-text2">FIX</span>
        </div>
        <div class="s">
            <a href="http://127.0.0.1:8000/register" >Регистрация</a>
            <a href="http://127.0.0.1:8000/login" >Вход</a>
        </div>
    </body>
</html>