<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
        <title>Personal Area</title>
    </head>
    <body>
        <div class="header">
            <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
        </div>
    <div class="container">
        <div class="profile-container">
            <div class="user-info">
                <div class="avatar">{{ user_data[1][0].upper() }}</div>
                <div class="user-details">
                    <p>{{ user_data[1] }}</p>
                </div>
            </div>
            <p><strong>Уровень пользователя:</strong></p>
            <div class="user-info1">
                <p>{{ user_data[4] }}</p>
            </div>
            <p><strong>Логин:</strong></p>
            <div class="user-info1">
                <p>{{ user_data[2] }}</p>
            </div>
            <p><strong>Email:</strong></p>
            <div class="user-info1">
                <p>{{ user_data[5] }}</p>
            </div>
        </div>
    <div class="vertical-stack">
    <div class="booking-container">
        <div class="active-bookings">Активные бронирования</div>
    <div class="room-info">
    <div class="name_room">
      <p>Название комнаты</p>
    </div>
        <div class="booking-details">
            <p>Дата: 29.05.2024</p>
            <p>Время: 13:00</p>
        </div>
        <div class="button-container">
        <button onclick="redirectToDetails()">Подробнее</button>
        </div>
        </div>
            </div>

    <div class="booking-container">
        <div class="active-bookings">История бронирований</div>
            <div class="room-info">
                <div class="name_room">
                <p>Название комнаты</p>
                </div>
                    <div class="booking-details">
                        <p>Дата: 29.05.2024</p>
                        <p>Время: 13:00</p>
                    </div>
                        <div class="button-container">
                            <button onclick="redirectToDetails()">Подробнее</button>
                         </div>
            </div>
        </div>
    </div>
</div>
    </body>
</html>