<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/styles.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
        <title>Personal Area</title>
    </head>
    <body>
        <div class="header">
            <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
        </div>
        <div class="profile-container">
        <div class="user-info">
            <div class="avatar">JD</div>
            <div class="user-details">
                <p>John Doe</p>
            </div>
        </div>
            <p><strong> Уровень пользователя:</strong></p>
        <div class="user-info1">
            <p>A</p>
        </div>
            <p><strong> Логин:</strong></p>
        <div class="user-info1">
            <p>johndoe123</p>
        </div>
            <p><strong> Email:</strong></p>
        <div class="user-info1">
            <p>johndoe@example.com</p>
        </div>
    </div>
    </body>
</html>