<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    <title>Личный кабинет</title>
</head>
<body style="background-image: url('static/фон4.png'); background-attachment: fixed;">

<div class="header">
    <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
    <button class="button" onclick="toggleDropdown()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div id="dropdown" class="dropdown" style="display: none;">
        <select id="pageSelect" onchange="location = this.value;">
            <option value="/user_info?login={{ login }}">Личный кабинет</option>
            <option value="/">Выход</option>
            {% for room in room_data %}
            <option value="/get_info?room_name={{ room[0] }}">{{ room[0] }}</option>
            {% endfor %}
            <option value="/all_history">Все бронирования</option>
        </select>
    </div><div class="button-container">
    <button class="button2" onclick="togglePopup(login = '{{ user_data[2] }}')">Уведомления</button>
</div></div>

<div class="container">
    <div class="profile-container">
        <div class="user-info">
            <div class="avatar">{{ user_data[1][0].upper() }}</div>
            <div class="user-details">
                <p>{{ user_data[1] }}</p>
            </div>
        </div>
        <p><strong>Уровень пользователя:</strong></p>
        <div class="user-info1">
            <p>{{ user_data[4] }}</p>
        </div>
        <p><strong>Логин:</strong></p>
        <div class="user-info1">
            <p>{{ user_data[2] }}</p>
        </div>
        <p><strong>Email:</strong></p>
        <div class="user-info1">
            <p>{{ user_data[5] }}</p>
        </div>
    </div>
    <div class="vertical-stack">
        <div class="booking-container">
            <div class="active-bookings">Активные бронирования</div>
            {% for booking in active_bookings %}
            <div class="room-info" id="{{ booking[1] }}-{{ booking[4] }}-{{ booking[5] }}-{{ booking[6] }}">
                <div class="name_room">
                    <p>{{ booking[1] }}</p>
                </div>
                <div class="booking-details">
                    Дата:{{ booking[4] }}
                    Время:{{ booking[5] }}-{{ booking[6] }}
                </div>
                <div class="button-container">
                    <button onclick="redirectToDetails('{{ booking[1] }}')">Подробнее</button>
                    <button onclick="unbookRoom('{{ user_data[2] }}', '{{ booking[1] }}', '{{ booking[4] }}', '{{ booking[5] }}', '{{ booking[6] }}')">Отменить бронирование</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="booking-container">
            <div class="history-bookings">История бронирований</div>
            {% for booking in booking_history %}
            <div class="room-info">
                <div class="name_room">
                    <p>{{ booking[1] }}</p>
                </div>
                <div class="booking-details">
                    Дата:{{ booking[4] }}
                    Время:{{ booking[5] }}-{{ booking[6] }}
                </div>
                <div class="button-container">
                    <button onclick="redirectToDetails('{{ booking[1] }}')">Подробнее</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function redirectToDetails(room_name) {
        window.location.href = `/get_info?room_name=${room_name}`;
    }

    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
    }

    document.getElementById('pageSelect').addEventListener('change', function() {
        window.location.href = this.value;
    });
  function unbookRoom(login, room_name, date, time_from, time_to) {
    fetch(`/user_info?login=${login}&room_name=${room_name}&date=${date}&time_from=${time_from}&time_to=${time_to}`, {
        method: 'DELETE'
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ошибка удаления бронирования');
        }
        return response.text();
    })
    .then(data => {
        alert(data); // Показать сообщение об успешной отмене бронирования
        // Дополнительные действия после успешной отмены бронирования, если нужно
    })
    .then(data => {
    alert(data); // Показать сообщение об успешной отмене бронирования
    // Перезагрузить страницу
    location.reload();
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при отмене бронирования');
    });
}
    function togglePopup(login) {
    fetch(`/notifications?login=${login}`)
    .then(response => response.json())
    .then(data => {
        // Display notifications to the user
        if (data.length > 0) {
            alert("Уведомления:\n" + data.join("\n"));
        } else {
            alert("У вас нет новых уведомлений.");
        }
    })
    .catch(error => {
        console.error('Ошибка при получении уведомлений:', error);
        // Handle error, e.g., show a message to the user
    });
}
</script>
</body>

</html>
