<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="templates/static/log.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    </head>

    <body>
        <form action="/login" method="post">
            <span class='title'>Форма входа</span>
            <div>
                <label for="login">Логин</label>
                <input type="text" id="login" name="login">
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password">
            </div>
            <input class="button" type="submit" value="Авторизоваться">
            <a href="http://127.0.0.1:8000/register" class="button2">Зарегистрироваться</a>
        </form>
    </body>
</html>