<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/log.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    </head>

    <body>
        <div class="header">
            <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
        </div>
        <form action="/login" method="post">
            <div class="container">
                <span class='title'>Вход</span>
            </div>
            <div>
                <label for="login">Логин</label>
                <input type="text" id="login" name="login">
            </div>
            <div>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password">
            </div>
            {% if errors %}
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <button class="button" type="submit">Авторизоваться</button>
            <span>Ещё нет аккаунта? </span>
            <a href="http://127.0.0.1:8000/register" class="button2">Зарегистрироваться</a>
        </form>
    </body>
</html>