<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat">
    <title>Main page</title>
</head>
<body style="background-image: url('static/фон5.png'); background-attachment: fixed;">
    <div class="header">
            <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
            <button class="button" onclick="toggleDropdown()">
    <span></span>
    <span></span>
    <span></span>
    </button>

<div id="dropdown" class="dropdown" style="display: none;">
     <select id="pageSelect">
            <option value="/user_info?login={{ login }}">Личный кабинет</option>
            <option value="/">Выход</option>
            {% for room in rooms %}
            <option value="/get_info?room_name={{ room.room_name }}">{{ room.room_name }}</option>
            {% endfor %}
     </select>
</div></div>
<h1 class="title_main">Переговорные комнаты</h1>
<div class="filters-calendar-container">
   <div class="sidebar">
    <main_text_f>Фильтры</main_text_f>
    <div class="filter-controls">
        <p><div class="filter-column">
            <button onclick="toggleFilters()">Показать фильтры</button>
        </div>
        <p><div class="filter-column">
            <button onclick="applyFilters()">Применить фильтры</button>
        </div>
    </div>
    <div class="filter-options">
        <div class="filter-column">
    <div class="equipment-options">
        <label>Оборудование:</label>
        <div>
            <input type="checkbox" id="eq_proj" name="eq_proj" value="Проектор">
            <label for="eq_proj">Проектор</label>
        </div>
        <div>
            <input type="checkbox" id="eq_board" name="eq_board" value="Доска">
            <label for="eq_board">Доска</label>
        </div>
    </div>
</div>
        <div class="filter-column">
            <div class="capacity-options">
                <label for="capacity">Вместимость:</label>
        <input type="number" id="capacity" placeholder="Введите количество участников"><br>
        </div> </div>
        <div class="filter-column">
            <div class="loc-options">
                <label for="location">Локации:</label>
                <select id="location">
                {% for location in location_options %}
                <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
            </div>
        </div>
    </div>
</div>
   <div class="main-content">
    <main_text_f>Календарь</main_text_f>
       <input type="date"></div>
    <input type="hidden" id="selectedDate" value="">
<div class="search-container">
    <input type="text" id="roomNameInput" placeholder="Введите название комнаты">
    <button onclick="searchRooms()">Поиск</button>
</div></div>
<div class="found-rooms-container">
    <h2 class="found-rooms-title">Рекомендации</h2>
    {% for room, times in recommended_rooms.items() %}
    <div class="room-info_main">
        <div class="name_room_main">
            <p>{{ room }}</p> <!-- Выводим название комнаты -->
        </div>
        <div class="booking-details_main">
            <!-- Выводим время для данной комнаты -->
            {% for time in times %}
            <p>Время: {{ time }}</p>
            {% endfor %}
        </div>
    <div class="time-input-container">
        <div class="time-column">
            <label for="time_from">Время начала:</label>
            <input type="text" id="time_from" placeholder="Начальное время" required><br>
        </div>
        <div class="time-column">
            <label for="time_to">Время окончания:</label>
            <input type="text" id="time_to" placeholder="Конечное время" required><br>
        </div>
        <div class="time-column">
        <label for="number_of_participants">Количество участников:</label>
        <input type="number" id="number_of_participants" placeholder="Введите количество участников" required></div>
        <div class="button-container">
                            <button id="bookButton" onclick="bookRoom('{{ login }}', '{{ room }}', time_from, time_to, number_of_participants )">Забронировать</button>
                            <button onclick="redirectToDetails()">Подробнее</button></div>
                         </div>
</div>{% endfor %}
</div>
    <div class="found-rooms-container">
    <h2 class="found-rooms-title">Найденные комнаты</h2>
        <div class="room-info_main">
                <div class="name_room_main">
                <p>Название комнаты</p>
                </div>
                    <div class="booking-details_main">
                        <p>Время: 13:00-14:00</p>
                    </div>
    <div class="time-input-container">
        <div class="time-column">
            <label for="time_fr">Время начала:</label>
            <input type="text" id="time_fr" placeholder="Начальное время" required><br>
        </div>
        <div class="time-column">
            <label for="time_t">Время окончания:</label>
            <input type="text" id="time_t" placeholder="Конечное время" required><br>
        </div>
                        <div class="button-container">
                            <div class="button-container_br"><button id="bookButto" onclick="bookRoom()">Забронировать</button>
                            <button onclick="redirectToDetails()">Подробнее</button></div>
                         </div>
            </div>
</div></div>
 <script>
        function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
    }
function toggleFilters() {
    var equipmentOptions = document.querySelector('.equipment-options');
    var capacityOptions = document.querySelector('.capacity-options');
    var locOptions = document.querySelector('.loc-options');
    if (equipmentOptions.style.display === 'none' || equipmentOptions.style.display === '') {
        equipmentOptions.style.display = 'block';
        capacityOptions.style.display = 'block';
        locOptions.style.display = 'block';
    } else {
        equipmentOptions.style.display = 'none';
        capacityOptions.style.display = 'none';
        locOptions.style.display = 'none';
    }
}

function searchRooms() {
        const roomName = document.getElementById('roomNameInput').value;
        const selectedDate = document.getElementById('selectedDate').value;

        fetch(`/search?request=${roomName}&date=${selectedDate}`)
            .then(response => response.json())
            .then(data => {
                // Обработка ответа от сервера
                console.log(data); // Для демонстрации, вы можете изменить это на обновление вашей страницы
            })
            .catch(error => console.error('Ошибка:', error));
    }

function bookRoom(login, room, time_from, time_to, number_of_participants) {
        const date = document.getElementById('selectedDate').value;
        // Выполните POST-запрос к серверу
         fetch('/main_page', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            login: login,
            room_name: room,
            date: date,
            time_from: time_from,
            time_to: time_to,
            number_of_participants: number_of_participants
        }),
    })
    .then(response => response.text())
    .then(data => {
        // Обработайте ответ от сервера
        console.log(data);
        // Перезагрузите страницу или выполните другие действия
    })
    .catch((error) => {
        console.error('Ошибка:', error);
    });
}
function applyFilters() {
    // Собираем значения фильтров
    const capacity = document.getElementById('capacity').value;
    const location = document.getElementById('location').value;
    const eq_proj = document.getElementById('eq_proj').checked ? 'YES' : 'NO';
    const eq_board = document.getElementById('eq_board').checked ? 'YES' : 'NO';

    // Формируем объект с данными фильтров
    const filtersData = {
        capacity: capacity,
        location: location,
        eq_proj: eq_proj,
        eq_board: eq_board
    };

    // Выполняем AJAX-запрос
    fetch('/filters', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(filtersData)
    })
    .then(response => response.json())
    .then(data => {
        // Обработка ответа от сервера
        console.log(data); // Ваша логика обновления интерфейса с учетом результатов фильтрации
    })
    .catch(error => console.error('Ошибка:', error));
}

    </script>
    </body>
</html>
