<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    <title>{{ room_name }}</title>
</head>
<body>
<div class="header">
    <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
    <button class="button" onclick="toggleDropdown()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div id="dropdown" class="dropdown" style="display: none;">
        <select id="pageSelect" onchange="location = this.value;">
            <option value="/user_info?login={{ login }}">Личный кабинет</option>
            <option value="/">Выход</option>
            {% for room in room_data %}
            <option value="/get_info?room_name={{ room[0] }}">{{ room[0] }}</option>
            {% endfor %}
            <option value="/all_history?login={{ login }}">Все бронирования</option>
        </select>
    </div>
</div>
<div class="container_room">
    <p></p>
    <div class="title_room">{{ room_name }}</div>
    <div class="photo">
        <img src="/static/{{ room_image }}" alt="Room Photo" width="70%">
    </div>
    <div class="column" style="background-color: #f0f0f0;">
        <h2>Информация</h2>
        <div class="info-room"><p>Площадь: {{ area }}кв.м</p></div>
        <div class="info-room"><p>Вместимость: {{ capacity }}</p></div>
        <div class="info-room"><p>Проектор: {{ eq_proj }}</p></div>
        <div class="info-room"><p>Доска: {{ eq_board }}</p></div>
        <div class="info-room"><p>Локация: {{ location }}</p></div>
    </div>
    <div class="column" style="background-color: #f0f0f0;">
        <h2>Описание</h2>
        <div class="opisanie-room"><p>{{ description }}</p></div>
    </div>
<form id="graphForm" method="POST" action="/get_info">
    <label for="month">Выберите месяц:</label>
    <select id="month" name="month">
        <option value="January">Январь</option>
        <option value="February">Февраль</option>
        <option value="March">Март</option>
        <option value="April">Апрель</option>
        <option value="May">Май</option>
        <option value="June">Июнь</option>
        <option value="July">Июль</option>
        <option value="August">Август</option>
        <option value="September">Сентябрь</option>
        <option value="October">Октябрь</option>
        <option value="November">Ноябрь</option>
        <option value="December">Декабрь</option>
    </select>
    <input type="hidden" id="roomNameInput" name="room_name" value="{{ room_name }}">
    <input type="submit" value="Отправить" onclick="updateCalendar()">
</form>
<img src="/static/{{plot_filename}}" alt="График">
</div>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
    }
    function updateCalendar() {
        const month = document.getElementById('month').value;
        const roomName = document.getElementById('roomNameInput').value;
        const data = { month: month, room_name: roomName };

        fetch('/get_info?month=' + month + '&room_name=' + roomName, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: '', // Пустое тело запроса, так как параметры передаются в URL
})
        .then(response => {
            if (response.ok) {
                return response.text();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => {
            document.body.innerHTML = data;
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    }
</script>
</body>
</html>
