<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="templates/static/styles.css">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
        <title>Room1</title>
    </head>
<body>
        <div class="header">
            <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
        </div>
 <div class="container_room">
     <p></p>
        <div class="title_room">Room 1</div>
        <div class="photo">
            <img src="static/room1.jpg" alt="Room Photo" width="550">
        </div>
        <div class="column" style="background-color: #f0f0f0;">
            <h2>Информация</h2>
            <div class="info-room"><p>Площадь: </p></div>
            <div class="info-room"><p>Вместимость: </p></div>
            <div class="info-room"><p>Оборудование: </p></div>

        </div>
        <div class="column" style="background-color: #f0f0f0;">
            <h2>Описание</h2>
            <div class="opisanie-room"><p>Наша переговорная комната — это современное пространство с уютной обстановкой и стильным дизайном. Высокие потолки, естественное освещение и комфортные мебельные решения создают идеальную атмосферу для продуктивных обсуждений. Оборудование для видеоконференций и звуковая система обеспечивают комфортную коммуникацию в любое время.</p></div>
        </div>
 </div>
</body>
</html>