<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Jomhuria">
    <title>{{ room_name }}</title>
</head>
<body>
<div class="header">
    <p><span class="header-text1">OFFICE </span><span class="header-text2">FIX</span></p>
    <button class="button" onclick="toggleDropdown()">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div id="dropdown" class="dropdown" style="display: none;">
        <select id="pageSelect">
            <option value="/user_info">Личный кабинет</option>
            <option value="/">Главная страница</option>
            <option value="/room">Переговорная комната</option>
        </select>
    </div>
</div>
<div class="container_room">
    <p></p>
    <div class="title_room">{{ room_name }}</div>
    <div class="photo">
        <img src="/static/{{ room_image }}" alt="Room Photo" width="550">
    </div>
    <div class="column" style="background-color: #f0f0f0;">
        <h2>Информация</h2>
        <div class="info-room"><p>Площадь: {{ area }}кв.м</p></div>
        <div class="info-room"><p>Вместимость: {{ capacity }}</p></div>
        <div class="info-room"><p>Оборудование: {{ equipment }}</p></div>
    </div>
    <div class="column" style="background-color: #f0f0f0;">
        <h2>Описание</h2>
        <div class="opisanie-room"><p>{{ description }}</p></div>
    </div>
</div>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        dropdown.style.display = dropdown.style.display === 'none' ? 'block' : 'none';
    }

    document.getElementById('pageSelect').addEventListener('change', function() {
        window.location.href = this.value;
    });
</script>
</body>
</html>
